{% extends 'base.html.twig' %}


{% block title %}Register{% endblock %}
{% block main %}
{#    {% for flashError in app.flashes('verify_email_error') %}#}
{#        <div class="alert alert-danger" role="alert">{{ flashError }}</div>#}
{#    {% endfor %}#}


    <div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <div class="row p-2 justify-content-center">
                    <h1 class="p-3">Inscription</h1>
                </div>
                {{ form_start(registrationForm) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(registrationForm.username) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.firstname) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.lastname) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.telephone) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.street) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.postcode) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.city) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.password.first) }}
                    </div>
                    <div class="col">
                        {{ form_row(registrationForm.password.second) }}
                    </div>
                </div>
                <br>
                {% if(app.user) %}
                    <div class="form-group button_center">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Enregistrer</button>
                        <br>
                        <a href="{{ path('user_delete', {'id': app.user.id}) }}">
                            <button class="btn btn-secondary btn-lg btn-block" type="button">Supprimer mon compte</button>
                        </a>
                    </div>
                {% else %}
                <div class="form-group button_center">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">S'inscrire</button>
                    <br>
                    <a href="{{ path('app_home') }}"><button class="btn btn-secondary btn-lg btn-block" type="button">Retour</button></a>
                </div>
                {% endif %}
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>

{% endblock %}
